:root {
    --darkBtn : #5500a6;
    --lightBtn : #7202c2 ;
}

* {
    box-sizing: border-box ;
}

body {
    font-family:'Courier New', Courier, monospace ; 
    font-size: 20px;
    margin: 30px;
}

button {
    background-color: var(--darkBtn) ;
    display: block;
    border-radius: 30px;
    padding: 15px;
    padding-right: 150px;
    margin: 20px;
    font-size: 24px;
    color: black;
    border-style: none;
}

button:hover {
    background-color: var(--lightBtn) ;
    box-shadow: 1px 1px 2px var(--darkBtn) ;
}

.header {
    /* background-color: antiquewhite; */
    display: inline-block ;
    width: 100%;
    font-size: 12px ;
}

.header h2 {
    /* background-color: burlywood;  */
    float: right ;
    margin-top : -40px;
    margin-right: 30px;
}

#highScoreBttn {
    background-color: white;
    font-family:'Courier New', Courier, monospace ; 
}

.mainContainer {
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 80vh;
    font-size: 35px;
}

.startCard,
.questionContainer,
.doneCard,
.scoreCard {
    /* background-color: burlywood; */
    width: 750px;
    height: 600px;
    margin-left: 20px;
}

#startBtn,
#nextBtn{
    margin-left: 130px;
    padding: 15px 150px 15px 150px;
}

.correct {
    background-color: 	#AAFF00;
}
.wrong {
    background-color: #880808;
}

#userInput {
    display: inline-block;
    border-radius: 15px;
    border-style: double;
    border-color: black;
    align-items: center;
    padding: 15px;
    color: black;
    font-size: 20px;
  }

  #userInput::after {
    border-color: var(--lightBtn);
  }

